---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103Ir12ypx5u94hnL0rnUIrK&description=Sign%20up%20for%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_2i18WLokOsOaAflSWiUjwsW5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_103Ir12ypx5u94hnm54BquQP\"\n  }\n}\n"
  recorded_at: Mon, 13 Jan 2014 18:19:43 GMT
recorded_with: VCR 2.8.0
