---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103Ir12ypx5u94hn3EZ4gfMs&description=Sign%20up%20for%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_2i18WLokOsOaAflSWiUjwsW5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_103Ir12ypx5u94hn2JjahTCr\",\n  \"object\": \"charge\",\n
        \ \"created\": 1389637189,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_103Ir12ypx5u94hnQh3tUStF\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 12,\n    \"exp_year\":
        2014,\n    \"fingerprint\": \"SQSnY7P0FdawRSC9\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_103Ir12ypx5u94hntTwou3EW\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"Sign up for charge for john@example.com\",\n  \"dispute\":
        null,\n  \"metadata\": {}\n}\n"
  recorded_at: Mon, 13 Jan 2014 18:19:49 GMT
recorded_with: VCR 2.8.0
